html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  font-family: 'Merriweather', serif;

}


.container{
  background-color: #1F2937;
  color: white;
}

.flex-container{
  padding: 25px 300px;
  display: flex;
  font-family: 'Merriweather', serif;
  flex-wrap: wrap;
}

.flex-container .header-logo {
  flex: 4;
  font-size: 30px;
  font-weight: bold;
  color: #F9FAF8;
}

.flex-container .header{
  font-size: 18px;
  color: #E5E7EB;
  flex: 1;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .flex-container .header{
    flex-direction: column;
    flex-wrap: wrap;

  }
  .flex-container{
    padding-left: 0px;
    padding-right: 0px;
  }
}


.header,
.header:after,
.header:before {
  transition: all .5s;
}

.header:hover {
  color: white;
}

/* stroke */
nav.flex-container a{
  position: relative;
}
.header:after{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: white;
  height: 1px;
}
.header:hover:after {
  width: 50%;
}


.header .one{
  margin-left: auto;
}


.web-context{
  padding-top: 100px;
  flex-wrap: wrap;
}


.context-item{
  color: white;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  padding-bottom: 100px;
}

.website-awesome{
  font-family: 'Merriweather', serif;
  font-size: 48px;
  color: #F9FAF8;
  margin-bottom: 0px;
}

.context-item p {
  font-family: 'Merriweather', serif;
}

.context-container{
  flex-wrap: wrap;
}
.info-container{
  padding: 25px 300px;
  background-color: white;
  flex-wrap: wrap;
}

.flex-info-container{
  flex-direction:row;
  flex-wrap: wrap;
}

@media only screen and (max-width: 600px) {
  .flex-info-container{
    flex-direction:column;
    flex-wrap: wrap;
  }

  .flex-container .box img{
    flex-wrap: wrap;
    flex-direction: column;
  }
}

.info .about-me-title {
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
  text-align: center;
}

.about-context{
  font-size: 17px;
  color: black;
  text-align: left;
}

.flex-info-container{
  padding: 16px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.box {
  width: 120px;
  height: 120px;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 50px;
}

.box img{
  flex: 1;
}


.text-under-box{
  width: 800px;
  padding: 16px;
  justify-content: center;
  background: white;
  display: flex;
  margin-left: 18%;
  gap: 50px;
}

.text{
  flex: 1;
  padding-right: 25px;
  text-align: center;;
}

.project-container{
  padding: 25px 300px;
  justify-content: center;
  background-color: #E5E7EB;
}

.project .project-title{
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
  text-align: center;
}

.title-project{
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
  text-align: center;
}

.project-section{
  display: flex;
}

.visual-project{
  flex: 100;
}

.text-project{
  flex: 100;
}

@media only screen and (width: 600px) {
  .visual-project, .text-project{
    flex: 100%;
  }

}

.project-section{
  padding-bottom: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.visual-project{
  width: 50%;
  height: 300px!important;
  margin-top: 20px;

}

.visual-project img {
  max-width: 100%;
  height: 300px;
  border: 1px solid #1b2738;
}

.text-project-container{
    display: flex;
    align-items: center;
    background: var(--project);
    height: 300px;
    width: 50%;
    margin-top: 20px;
    border: 1px solid #1b2738;
    padding: 0 10px ;
}

.text-project h2 a{
  margin-top: 0;
  padding-left: 3px;
  color: black;
  text-decoration: none;
}

.text-project p{
  padding-left: 3px;
  color: black;
}

.project-title,
.project-title:after,
.project-title:before {
  transition: all .5s;
}

.project-title:hover {
  color: black;
}

/* stroke */
div.text-project-container .text-project h2 a{
  position: relative;
}
.project-title:after{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: black;
  height: 1px;
}
.project-title:hover:after {
  width: 100%;
}


.contact-container{
  padding: 25px 300px;
  justify-content: center;
  background-color: white;
  color: black;
}

.contact-container .contact-title{
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
  text-align: center;
}

.contact-content{
  text-align: center;
  font-size: 20px;
}

.footer{
  background-color: #1F2937;
  color: white;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 20px;
}

.form-floating {
  position: relative;
}
.form-floating > .form-control,
.form-floating > .form-select {
  height: 4.5rem;
  padding: 1.25rem 0;
}
.form-floating > label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 1.25rem 0;
  pointer-events: none;
  border: 1px solid transparent;
  transform-origin: 0 0;
  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .form-floating > label {
    transition: none;
  }
}
.form-floating > .form-control::-moz-placeholder {
  color: transparent;
}
.form-floating > .form-control:-ms-input-placeholder {
  color: transparent;
}
.form-floating > .form-control::placeholder {
  color: transparent;
}
.form-floating > .form-control:not(:-moz-placeholder-shown) {
  padding-top: 2.125rem;
  padding-bottom: 0.625rem;
}
.form-floating > .form-control:not(:-ms-input-placeholder) {
  padding-top: 2.125rem;
  padding-bottom: 0.625rem;
}
.form-floating > .form-control:focus, .form-floating > .form-control:not(:placeholder-shown) {
  padding-top: 2.125rem;
  padding-bottom: 0.625rem;
}
.form-floating > .form-control:-webkit-autofill {
  padding-top: 2.125rem;
  padding-bottom: 0.625rem;
}
.form-floating > .form-select {
  padding-top: 2.125rem;
  padding-bottom: 0.625rem;
}
.form-floating > .form-control:not(:-moz-placeholder-shown) ~ label {
  opacity: 0.65;
  transform: scale(0.65) translateY(-0.5rem) translateX(0rem);
}
.form-floating > .form-control:not(:-ms-input-placeholder) ~ label {
  opacity: 0.65;
  transform: scale(0.65) translateY(-0.5rem) translateX(0rem);
}
.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
  opacity: 0.65;
  transform: scale(0.65) translateY(-0.5rem) translateX(0rem);
}
.form-floating > .form-control:-webkit-autofill ~ label {
  opacity: 0.65;
  transform: scale(0.65) translateY(-0.5rem) translateX(0rem);
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .form-control {
    transition: none;
  }
}
.form-control[type=file] {
  overflow: hidden;
}
.form-control[type=file]:not(:disabled):not([readonly]) {
  cursor: pointer;
}
.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #80c2d0;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(0, 133, 161, 0.25);
}
.form-control::-webkit-date-and-time-value {
  height: 1.5em;
}
.form-control::-moz-placeholder {
  color: #6c757d;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}
.form-control::placeholder {
  color: #6c757d;
  opacity: 1;
}
.form-control:disabled, .form-control[readonly] {
  background-color: #e9ecef;
  opacity: 1;
}
.form-control::file-selector-button {
  padding: 0.375rem 0.75rem;
  margin: -0.375rem -0.75rem;
  -webkit-margin-end: 0.75rem;
          margin-inline-end: 0.75rem;
  color: #212529;
  background-color: #e9ecef;
  pointer-events: none;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border-inline-end-width: 1px;
  border-radius: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .form-control::file-selector-button {
    transition: none;
  }
}
.form-control:hover:not(:disabled):not([readonly])::file-selector-button {
  background-color: #dde0e3;
}
.form-control::-webkit-file-upload-button {
  padding: 0.375rem 0.75rem;
  margin: -0.375rem -0.75rem;
  -webkit-margin-end: 0.75rem;
          margin-inline-end: 0.75rem;
  color: #212529;
  background-color: #e9ecef;
  pointer-events: none;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border-inline-end-width: 1px;
  border-radius: 0;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .form-control::-webkit-file-upload-button {
    -webkit-transition: none;
    transition: none;
  }
}
.form-control:hover:not(:disabled):not([readonly])::-webkit-file-upload-button {
  background-color: #dde0e3;
}

.form-control-plaintext {
  display: block;
  width: 100%;
  padding: 0.375rem 0;
  margin-bottom: 0;
  line-height: 1.5;
  color: #212529;
  background-color: transparent;
  border: solid transparent;
  border-width: 1px 0;
}
.form-control-plaintext.form-control-sm, .form-control-plaintext.form-control-lg {
  padding-right: 0;
  padding-left: 0;
}

.form-control-sm {
  min-height: calc(1.5em + 0.5rem + 2px);
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
}
.form-control-sm::file-selector-button {
  padding: 0.25rem 0.5rem;
  margin: -0.25rem -0.5rem;
  -webkit-margin-end: 0.5rem;
          margin-inline-end: 0.5rem;
}
.form-control-sm::-webkit-file-upload-button {
  padding: 0.25rem 0.5rem;
  margin: -0.25rem -0.5rem;
  -webkit-margin-end: 0.5rem;
          margin-inline-end: 0.5rem;
}

.form-control-lg {
  min-height: calc(1.5em + 1rem + 2px);
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
}
.form-control-lg::file-selector-button {
  padding: 0.5rem 1rem;
  margin: -0.5rem -1rem;
  -webkit-margin-end: 1rem;
          margin-inline-end: 1rem;
}
.form-control-lg::-webkit-file-upload-button {
  padding: 0.5rem 1rem;
  margin: -0.5rem -1rem;
  -webkit-margin-end: 1rem;
          margin-inline-end: 1rem;
}

textarea.form-control {
  min-height: calc(1.5em + 0.75rem + 2px);
}
textarea.form-control-sm {
  min-height: calc(1.5em + 0.5rem + 2px);
}
textarea.form-control-lg {
  min-height: calc(1.5em + 1rem + 2px);
}

.form-control-color {
  max-width: 3rem;
  height: auto;
  padding: 0.375rem;
}
.form-control-color:not(:disabled):not([readonly]) {
  cursor: pointer;
}
.form-control-color::-moz-color-swatch {
  height: 1.5em;
}
.form-control-color::-webkit-color-swatch {
  height: 1.5em;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button.project-button{
  background: var(--project);
  color: black;
  border: 2px solid #1b2738;"
}

.button.project-button:hover{
  background-color: #003366;
  color: white;
}
.d-flex{
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.d-flex.justify-content-center{
  display: flex;
  justify-content: center;
}

.d-flex button .project-button{
    background: var(--project);;
    border: 2px solid navy;
    padding: 5px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-left: 15%;
}

.d-flex button .project-button:hover {
  background-color: #003366;
  color: white;
}


.send-button {
  background-color: white;
  color: black;
  border: 2px solid #1b2738;
}

.send-button:hover {
  background-color: #003366;
  color: white;
}